<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ album_name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projapp/styles.css' %}" />
</head>
<body>
<div>
    <h1 class="title">{{ album_name }}</h1>
    <div class="novels-list info-block">
        {% for game_info in games %}
        <a href={{ game_info.link }}>
            <img class="novel-img" src={{ game_info.image_link }}>
        </a>
        {% endfor %}
    </div>
</div>
</body>
</html>